body {
  margin: 0;
  font-family: 'Baloo Tamma 2' !important;
  -webkit-font-smoothing: Baloo Tamma 2 !important;
  -moz-osx-font-smoothing: Baloo Tamma 2 !important;
}

code {
  font-family: "Baloo Tamma 2" !important;
}

.ant-btn-primary {
  color: #fff;
  background-color: #07cb79 !important;
  border-color: #07cb79 !important;
}