@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
body {
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
}

code {
  font-family: 'Baloo Tamma 2', cursive;
}

.ant-btn-primary {
  color: #fff;
  background-color: #99d332 !important;
  border-color: #99d332 !important;
}
